.bg-purple {
  background-color: #ab6fdc !important;
}

.isactive {
  border-bottom: 5px solid #fcd888;
  padding: 10px 10px;
}
.inactive {
  border-bottom: 5px solid #ab6fdc;
  padding: 10px 10px;
}

.navbar .navbar .nav-item .nav-link {
  color: #fff;
}

.border-bottom-purple {
  border-bottom: 5px solid #ab6fdc;
}

.answer-false {
  background-color: #ff8749;
  color: #fff;
}

.answer-true {
  background-color: #70bfa5;
  color: #fff;
}
