.profile {
  width: 200px;
  height: 200px;
  margin-top: 120px;
  margin-left: 100px;
  gap: 20px;

  &__nav {
    display: flex;
    justify-content: center;
  }

  &__username {
    position: relative;
    top: 10px;
    text-align: center;
    border-bottom: 1px solid #e1e1e1;
    font-weight: bolder;
    & h3 {
      font-weight: bolder;
    }
  }

  &__button {
    &--inactive {
      color: #ab6fdc;
    }
    &--active {
      color: rgb(158, 157, 157);
    }
  }

  &__image {
    & img {
      height: 95px;
      width: 95px;
      border-radius: 50%;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    line-height: 65px;
    &--pilih {
      & strong {
        cursor: pointer;
      }
      &--log {
        border-top: 1px solid #e1e1e1;
      }
      img {
        margin-right: 10px;
        margin-bottom: 8px;
      }
    }
  }
}

.containerNav {
  display: flex;
  width: max-content;
}
