@import "../../../assets/styles/global";

.deck__edit {
  margin: 120px 150px;
  gap: 20px;

  &__indicator {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    width: 558px;
    display: flex;
    flex-direction: column;
    h5 {
      justify-content: flex-end;
      padding-bottom: 8px;
    }
  }

  &__bar {
    margin-top: 20px;
    width: 558px;
    height: 11px;
    background: #c78ef7;
    border-radius: 22px;
    margin-bottom: 20px;
  }
  &__detail {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
  }
  &__number {
    background: #f3f3f3;
    width: 20px;
    text-align: center;
    border-radius: 50%;
  }

  & .off {
    background: #e1e1e1;
  }

  &__details {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
  }

  &__form {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    &__left {
      display: flex;
      gap: 20px;
      flex-direction: column;
      & input {
        width: 558px;
        height: 52px;
        border-radius: 26px;
        border: 3px solid #f3f3f3;
      }
      & select {
        width: 558px;
        height: 52px;
        border-radius: 26px;
        border: 3px solid #f3f3f3;
      }
    }
    &__right {
      & textarea {
        width: 555px;
        height: 266px;
        border-radius: 26px;
        resize: none;
        border: 3px solid #f3f3f3;
        font-size: 20px;
        padding: 10px;
      }
    }
  }

  &__color {
    margin-top: 20px;
    &--box {
      display: flex;
      gap: 20px;
    }
    &--circel {
      margin-top: 10px;
      width: 50px;
      height: 50px;
      background: red;
      border-radius: 50%;
    }
  }

  &__terms {
    margin-top: 100px;
    &--container {
      width: 1140px;
      height: 160px;
      border-radius: 26px;
      border: 3px solid #f3f3f3;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
      // margin-bottom: 15px;
    }

    &--input {
      display: flex;
      flex-direction: column;
    }
    & label {
      margin-left: 20px;
      padding-bottom: 5px;
    }
    input[type="text"] {
      width: 450px;
      height: 40px;
      overflow: hidden;
      border-radius: 26px;
      border: 3px solid #f3f3f3;
      margin-left: 15px;
    }

    input[type="file"] {
      width: 80px;
    }
    &--add {
      text-align: center;
    }
  }

  & .button__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 100px;
    border-top: solid #fbf6ff;
    top: 25px;
    position: relative;

    &__save {
      background: #c78ef7;
      box-shadow: 0 5px #ab6fdc;
      cursor: pointer;
      border-radius: 28.5px;
      width: 249px;
      height: 61px;
      border: none;
      color: white;
      top: 25px;
      position: relative;
    }
    &__cancel {
      background: #fbf6ff;
      box-shadow: 0 5px #e6c7ff;
      cursor: pointer;
      border-radius: 28.5px;
      width: 249px;
      height: 61px;
      border: none;
      color: #ab6fdc;
      margin-right: 10px;
      font-size: 14px;
      line-height: 21px;
      top: 25px;
      position: relative;
    }
    button:active {
      box-shadow: none;
      position: relative;
      top: 30px;
    }
  }
}
