@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

$main-font: 'Quicksand', sans-serif;

// Color
$purple2: #c78ef7;
@mixin button-dua {
  padding: 10px 25px;
  border-radius: 27.5px;
  border: none;
  background: $purple2;
  color: #fff;
}
